{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <form method="POST" enctype="multipart/form-data" class="row g-3">
            {{ form.csrf_token }}
           
            <div class="input-group mb-3">
                {{ form.tipo.label(class="input-group-text") }}
                {{ form.tipo(class="form-select") }}

                {{ form.tamanho.label(class="input-group-text") }}
                {{ form.tamanho(class="form-select") }}

            </div>
            
            <div class="input-group mb-3">

                {{ form.nome(class="form-control", placeholder="Nome do produto") }}

                <span class="input-group-text">R$</span>

                {{ form.valor(class="form-control", placeholder="Preço") }}
                
                <span class="input-group-text">.00</span>
            </div>
            
            <div class="form-floating">
                {{ form.descricao.label(class="form-label") }}
                {{ form.descricao(class="form-control") }}
            </div>

            <div class="input-group">
                {{ form.imagem(class="form-control") }}
                {{ form.concluir(class="btn btn-outline-secondary") }}
            </div>

            <!-- <div class="col-12">
                {{ form.concluir(class="btn btn-primary") }}
            </div> -->
        </form>
    </div>

{% endblock %}