{% extends 'base.html' %}

{% block body %}

    <div class="container" style="margin-top: 15px;">
        <form method="POST" enctype="multipart/form-data" class="row g-3">
            {{ form.csrf_token }}

            <!-- Nome do produto -->
            <div class="col-md-6">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control")}}
            </div>

            <!-- Imagem do produto -->
            <div class="col-md-6">
                {{ form.imagem.label(class="form-label") }}
                {{ form.imagem(class="form-control input-group") }}
            </div>
           
            <!-- Tipo de produto -->
            <div class="col-md-4">
                {{ form.tipo.label(class="form-label") }}
                {{ form.tipo(class="form-select") }}
            </div>

            <!-- Tamanho do produto -->
            <div class="col-md-4">
                {{ form.tamanho.label(class="form-label") }}
                {{ form.tamanho(class="form-select") }}
            </div>

            <!-- Valor do produto -->
            <div class="col-md-4">
                {{ form.valor.label(class="form-label") }}
              <div class="input-group">
                <div class="input-group-text">R$</div>
                {{ form.valor(class="form-control") }}
              </div>
            </div>

            <!-- Descrição do produto -->
            <div class="form-floating" style="margin-top: 2vw;">
                {{ form.descricao(class="form-control", id="floatingTextarea2", style="height: 100px") }}
                <label for="floatingTextarea2">{{ form.descricao.label(class="form-label") }}</label>
            </div>

            <!-- Botão de envio -->
            <div class="col-12">
                {{ form.concluir(class="btn btn-primary") }}
            </div>
        </form>


{% endblock %}