{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <form class="row g-3">
            {{ form.csrf_token }}

            <div class="col-md-6">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>

            <div class="col-md-6">
                {{ form.telefone.label(class="form-label") }}
                {{ form.telefone(class="form-control")}}
            </div>

            <div class="col-12">
                {{ form.endereco.label(class="form-label") }}
                {{ form.endereco(class="form-control") }}
            </div>

            <div class="col-md-6">
                {{ form.cidade.label(class="form-label") }}
                {{ form.cidade(class="form-control") }}
            </div>

            <div class="col-md-4">
                {{ form.uf.label(class="form-label") }}
                {{ form.uf(class="form-select") }}
            </div>

            <div class="col-md-2">
                {{ form.cep.label(class="form-label") }}
                {{ form.cep(class="form-control") }}
            </div>

            <div class="col-md-6">
                {{ form.nascimento.label(class="form-label") }}
                {{ form.nascimento(class="form-control") }}
            </div>

            <div class="col-md-6">
                {{ form.cpf.label(class="form-label") }}
                {{ form.cpf(class="form-control") }}
            </div>

            <div class="col-12">
                {{ form.concluir(class="btn btn-primary") }}
            </div>
            
        </form>
    </div>
{% endblock %}
