{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputAddress" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputAddress">
            </div>

            <div class="col-md-6">
                <label for="inputAddress" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputAddress">
            </div>

            <div class="col-12">
                <label for="inputAddress" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputAddress">
            </div>

            <div class="col-md-6">
                <label for="inputCity" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="inputCity">
            </div>

            <div class="col-md-4">
                <label for="inputState" class="form-label">UF</label>
                <select id="inputState" class="form-select">
                    <option selected>Selecione</option>
                    <option>MG</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="inputZip" class="form-label">CEP</label>
                <input type="text" class="form-control" id="inputZip">
            </div>

            <div class="col-md-6">
                <label for="inputAddress" class="form-label">Data de nascimento</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="dd/mm/aaaa">
            </div>

            <div class="col-md-6">
                <label for="inputAddress" class="form-label">CPF</label>
                <input type="text" class="form-control" id="inputAddress">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Concluir</button>
            </div>
            
        </form>
    </div>
{% endblock %}
