{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/produtos.css">
{% endblock %}

{% block body%}
    <!-- <div class="painel_fotos"> -->
    <div class="container-fluid">

        <div class="painel">

            {% for imagem, nome, id in produto %}
        
                <a id="img-info" href="{{ url_for('info_produto', id_produto=id) }}">
                    <img src="{{ url_for('static', filename='upload_img/{}'.format(imagem)) }}" >

                    <div class="info-produto">
                        <div id="titulo">
                            <h2>{{ nome }}</h2>
                        </div>
                        <div id="codigo">
                            <h2>{{ id }}</h2>
                        </div>
                    </div>
                </a>

            {% endfor %}    

        </div>
    </div>

    <footer></footer>
{% endblock %}
