{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/produtos.css">
{% endblock %}

{% block body%}
    <!-- <div class="painel_fotos"> -->
    <div class="container-fluid">

        <div class="painel">

            {% for imagem in img_produto %}
        
            <div>
                <img src="{{ url_for('static', filename='upload_img/{}'.format(imagem[0])) }}" >

                <div class="info-produto">
                    <div id="titulo">
                        <h2>Nome do Produto</h2>
                    </div>
                    <div id="codigo">
                        <h2>00</h2>
                    </div>
                </div>
            </div>

            {% endfor %}    

        </div>
    </div>

    <footer></footer>
{% endblock %}
