{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
{% endblock %}

{% block body%}
    <div class="painel_fotos">

        <!-- Loop para mostrar os posts no perfil -->
        {% for produto in produtos.imagem %}
        
            <div class="foto">
                <img src="{{ url_for('static', filename='upload_img/{}'.format(produto.imagem)) }}">
                <!-- <img src="{{ url_for('static', filename='img_posts/lofi1.jpeg') }}"> -->
            </div>

        {% endfor %}    
    </div>
{% endblock %}
