@charset "UTF-8";

.painel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }

.painel img {
width: 100%;
height: 400px;
border-radius: 10px 10px 0px 0px;
object-fit: cover;
}

.info-produto{
    display: flex;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    height: 40px;
    padding: 5px;
}

#titulo{
    border-right: 1px solid black;
    width: 80%;
    height: 100%;
}

#codigo{
    border-left: 1px solid black;
    width: 20%;
    height: 100%;
}

h2{
    font-size: x-large;
    color: white;
}

footer{
    height: 15px;
}
